<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trello Killer</title>
    <link rel="stylesheet" href="index.css">
    <!-- <link rel="shortcut icon" href="favicon.png" type="image/x-icon"> -->
</head>

<body>
    <header>
        <h1 class="maintitle">Trello Killer</h1>
    </header>
    <main>
        <section class="task--todo">
            <h3 class="task__user">Usuario</h3>
            <h1 class="task__title">Titulo de la tarea</h1>
            <p class="task__description">Descripción de la tarea</p>
            <h2 class="task__status">TODO</h2>
            <button class="button__todo">⚙️</button>
            <button class="button__doing">✎</button>
            <button class="button__review">📖</button>
            <button class="button__done">👍</button>
        </section>
        <section class="task--doing">
            <h2 class="task__user">Usuario</h2>
            <h1 class="task__title">Titulo de la tarea</h1>
            <p class="task__description">Descripción de la tarea</p>
        </section>
        <section class="task--review">
            <h2 class="task__user">Usuario</h2>
            <h1 class="task__title">Titulo de la tarea</h1>
            <p class="task__description">Descripción de la tarea</p>
        </section>
        <section class="task--done">
            <h2 class="task__user">Usuario</h2>
            <h1 class="task__title">Titulo de la tarea</h1>
            <p class="task__description">Descripción de la tarea❤️</p>
        </section>
    </main>
    <footer>
        <h6 class="footertext">Made by Isidro</h6>
    </footer>
</body>

</html>