body {
    margin: 0px;
}

header {
    background-color: yellow;
    width: 360px;
    height: 70px;
    position: fixed;
    display: flex;
    align-items: baseline;
    font-family: cursive;
    text-align: center;
    margin: 0px;
    padding: 5px;
}

.headerback {
    background-color: yellow;
    width: 100%;
    height: 70px;
    padding: 5px;
    margin-bottom: 10px;
}

form {
    width: 400px;
    margin-left: 10px;
}

.view {
    border: 0.3rem solid orange;
    border-radius: 1rem;
    border-style: dotted;
    background-color: yellow;
    width: 100vw;
    height: 100%;
    padding: 3vw;
    text-align: center;
  }
  
.results__title {
    color: blue;
    font-size: 1.5rem;
}

.results__price {
    color: red;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.detail__description {
    color: green;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 90%;
    max-width: 400px;
    border: solid 1px;
    text-align: center;
    display: block;
    margin: auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    margin-top: 0px;
}

.link {
    list-style: none;
    display: block;
    margin: 10px;
    width: 30%;
    min-width: 400px;
    border: solid 1px;
    text-align: center;
}

.results {
    cursor: pointer;
}

.detail {
    width: 30%;
}

.button {
    display: block;
    margin: auto;
}

.show {
    display: block;
}
  
.hide {
    display: none;
}